// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);

  ul {

      li:last-child {

          a {

                border-right:none;
          }
      }
  }
}

.back-icon {

    font-size:65%;

    a {

        color:$dark-gray;
        transition: all linear 0.2s;

        &:hover {

            color:$red;
            margin-left:-0.25rem;
        }
    }
}

// Site title
.site-mobile-title a {
  // placeholder
}

.site-desktop-title a {
  color:$white;
  border-right:1px solid $white;

  &:hover {

      background:scale-color($dark-blue-gray, $lightness: -20%);
  }
}

// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}


.mobile-menu,
.mobile-off-canvas-menu {

  // submenu arrow
  .is-accordion-submenu-parent {
    > a::after {
      border-color: $accordionmenu-arrow-color transparent transparent;
    }
    &.active > a::after {
      border-color: $menu-item-color-active transparent transparent;
    }
  }

  // current page
  .current_page_item > a {
    font-weight: bold;
  }
}


// Tablet and desktop menu
.desktop-menu {

  // submenu arrow
  li.is-dropdown-submenu-parent {
    > a::after {
      border-color: $white transparent transparent;
    }
    &.active > a::after {
      border-color: $white transparent transparent;
    }
  }
}

.dropdown.menu > li.is-dropdown-submenu-parent > a {

    padding-right:2.5rem;

    &::after {

        border-color:$white transparent transparent;
        right:10px;
    }
}

.submenu {

    background:$dark-blue-gray !important;
    border:none;

     li {

         a {

             border-right:none;
         }
     }
}

.site-navigation {

    background:$red;
    padding:0;

    .row {

        background:$dark-blue-gray;
    }
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
}

#menu-master-nav {

    padding-left:2.75rem;
}

.header-bar {

    background: #939598;
    color: #fff;
    padding: .25rem 0;
    font-size: .85rem;

    a {

        color:$white;
    }
}

.branding {

    background:$white;

     img {

        width:250px;
        margin-left:4rem;
     }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}
